.wz-page-container {
  margin: 20px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.wz-register-bloc {
  width: 50%;
  border: 3px #e5e5e5 solid;
  padding: 35px;
  border-radius: 20px;
}
.wz-login-bloc {
  width: 40%;
  border: 3px #e5e5e5 solid;
  padding: 35px;
  border-radius: 20px;
}
.wz-page-container-p {
  /* border: 1px black solid; */
  min-height: 90vh;
  margin: 20px 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 15px;
}
.product-item {
  margin: 0 !important;
}
.product-item-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wz-cart-table {
  /* border: 1px red solid; */
  width: 90%;
  margin: 10px auto;
}

.table-cell-wz {
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
  gap: 25px;
  width: fit-content !important;
}
.qte-btn {
  color: black !important;
}
.wz-page-container-orders {
  margin: 20px 80px;
  padding: 15px;
}
.wz-page-container-profile {
  /* border: 1px black solid; */
  min-height: 90vh;
  margin: 20px 80px;
  padding: 15px;
}
